.form {
  display: flex;
  border-top: 5px solid black;
}

.input {
  border: none;
  border-radius: 0 0 0 10px;
  width: 80%;
  font-size: 1.2em;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.sendButton {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #474747;
  padding: 20px;
  display: inline-block;
  border: none;
  border-radius: 0 0 9px 0;
  width: 20%;
}