.outerContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}

.innerContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #bbbbbb;
  border: 5px solid black;
  border-radius: 15px;
  height: 60%;
  width: 35%;
}

@media (min-width: 320px) and (max-width: 480px) {
  .outerContainer {
    height: 100%;
  }

  .innerContainer {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 480px) and (max-width: 1200px) {
  .innerContainer {
    width: 60%;
  }
}
